---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import AnchorHeading from "@astrojs/starlight/components/AnchorHeading.astro";
// import CustomComponent from "./CustomComponent.astro";
---

<StarlightPage frontmatter={{ title: "我的自定义页面" }}>
    <p>这是一个有自定义组件的自定义页面：</p>
    <!-- <CustomComponent /> -->

    <AnchorHeading level="2" id="learn-more">了解更多</AnchorHeading>
    <p>
        <a href="https://starlight.astro.build/">在 Starlight 文档中阅读更多</a>
    </p>
</StarlightPage>
